/*VARIABLES*/
:root{
    --backgroundcolor: #fbfcff;
    --fontcolor: #010101;
    --blue: #1c6e8c;
    --gray: #d0ccd0;
    --darkblue: #274156;
}

@font-face {
    font-family: regular-text;
    src: url("../fonts/Coolvetica\ Rg.otf");
}

@font-face{
    font-family: fun-text;
    src: url("../fonts/Tokyo.ttf");
}

body{
    background-color: var(--backgroundcolor);
    color: var(--fontcolor);
    font-family: Arial, Helvetica, sans-serif;
}

.layout {
  width: 100%;

  display: grid;
  grid:
    "sidebar body" 1fr
    / 30% 1fr;
  gap: 8px;
}

.sidebar { grid-area: sidebar; }
.body { grid-area: body; }

.wrapper {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
  }

.artwork {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 300px;
}

.description{
  width: 300px;
  color: var(--fontcolor);
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 275px;
}

.drawing{
  width: 500px;
  height: auto;
}

#drawing{
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#drawing:hover{
  opacity: 0.7;
}

.modalC{
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s ease;
}

.modal-content{
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

.caption{
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.modal.show{
  display: flex;
  opacity: 1;
}

.modal-content, #caption{
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom{
  from {transform:scale(0)}
  to{transform:scale(1)}
}

.close{
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover, .close:focus{
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media only sscreen and (max-width: 700px){
  .modal-content{
    width: 100%;
  }
}